In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00601/ai4i2020.csv")

In [3]:
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [4]:
X=df.drop(["Air temperature [K]"],axis=1)
X.drop(["Product ID"],inplace=True,axis=1)
print(X["Type"].unique())
X["Type"].replace(['M','L','H'],[2,1,3],inplace=True)

['M' 'L' 'H']

In [5]:
X.head()

,UDI,Type,Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,2,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,1,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,1,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,1,308.7,1408,40.0,9,0,0,0,0,0,0

In [6]:
y=df["Air temperature [K]"]

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1234)

In [8]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from catboost import CatBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import ExtraTreesRegressor
from xgboost import XGBRegressor

In [10]:
R2scores={}

In [11]:
LR=LinearRegression()
LR.fit(X_train,y_train)
y_pred=LR.predict(X_test)
print(r2_score(y_test,y_pred))
R2scores[type(LR)]=r2_score(y_test,y_pred)

0.8006064744843722

In [12]:
LR=Lasso()
LR.fit(X_train,y_train)
y_pred=LR.predict(X_test)
print(r2_score(y_test,y_pred))
R2scores[type(LR)]=r2_score(y_test,y_pred)

0.6681107762571199

In [13]:
LR=Ridge()
LR.fit(X_train,y_train)
y_pred=LR.predict(X_test)
print(r2_score(y_test,y_pred))
R2scores[type(LR)]=r2_score(y_test,y_pred)

0.8006369463140283

In [14]:
LR=DecisionTreeRegressor()
LR.fit(X_train,y_train)
y_pred=LR.predict(X_test)
print(r2_score(y_test,y_pred))
R2scores[type(LR)]=r2_score(y_test,y_pred)

0.9983693387626303

In [15]:
LR=SVR()
LR.fit(X_train,y_train)
y_pred=LR.predict(X_test)
print(r2_score(y_test,y_pred))
R2scores[type(LR)]=r2_score(y_test,y_pred)

0.8732224171040807

In [16]:
LR=RandomForestRegressor()
LR.fit(X_train,y_train)
y_pred=LR.predict(X_test)
print(r2_score(y_test,y_pred))
R2scores[type(LR)]=r2_score(y_test,y_pred)

0.9990373029016022

In [17]:
LR=AdaBoostRegressor()
LR.fit(X_train,y_train)
y_pred=LR.predict(X_test)
print(r2_score(y_test,y_pred))
R2scores[type(LR)]=r2_score(y_test,y_pred)

0.9616965120281405

In [18]:
LR=CatBoostRegressor(verbose=0)
LR.fit(X_train,y_train)
y_pred=LR.predict(X_test)
print(r2_score(y_test,y_pred))
R2scores[type(LR)]=r2_score(y_test,y_pred)

0.9980963752624846

In [19]:
LR=GradientBoostingRegressor()
LR.fit(X_train,y_train)
y_pred=LR.predict(X_test)
print(r2_score(y_test,y_pred))
R2scores[type(LR)]=r2_score(y_test,y_pred)

0.9934472388913347

In [20]:
LR=BaggingRegressor()
LR.fit(X_train,y_train)
y_pred=LR.predict(X_test)
print(r2_score(y_test,y_pred))
R2scores[type(LR)]=r2_score(y_test,y_pred)

0.99889953945293

In [21]:
LR=ExtraTreesRegressor()
LR.fit(X_train,y_train)
y_pred=LR.predict(X_test)
print(r2_score(y_test,y_pred))
R2scores[type(LR)]=r2_score(y_test,y_pred)

0.9990084336514772

In [22]:
from sklearn.model_selection import RepeatedKFold
import re
regex = re.compile(r"\[|\]|<", re.IGNORECASE)
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
X_train.columns = [regex.sub("_", col) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in X_train.columns.values]
LR=XGBRegressor()
LR.fit(X_train,y_train)
X_test.columns = [regex.sub("_", col) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in X_test.columns.values]
y_pred=LR.predict(X_test)
print(r2_score(y_test,y_pred))
R2scores[type(LR)]=r2_score(y_test,y_pred)

0.9987839691769862

In [23]:
R2scores

{sklearn.linear_model._base.LinearRegression: 0.8006064744843722,
 sklearn.linear_model._coordinate_descent.Lasso: 0.6681107762571199,
 sklearn.linear_model._ridge.Ridge: 0.8006369463140283,
 sklearn.tree._classes.DecisionTreeRegressor: 0.9983693387626303,
 sklearn.svm._classes.SVR: 0.8732224171040807,
 sklearn.ensemble._forest.RandomForestRegressor: 0.9990373029016022,
 sklearn.ensemble._weight_boosting.AdaBoostRegressor: 0.9616965120281405,
 catboost.core.CatBoostRegressor: 0.9980963752624846,
 sklearn.ensemble._gb.GradientBoostingRegressor: 0.9934472388913347,
 sklearn.ensemble._bagging.BaggingRegressor: 0.99889953945293,
 sklearn.ensemble._forest.ExtraTreesRegressor: 0.9990084336514772,
 xgboost.sklearn.XGBRegressor: 0.9987839691769862}